body {
}



.table th {
    font-weight: bold;
    color: white;
    background-color: #3e3e3e;
    border: none;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
}

.table td {
    /*background-color: #f1f2f3*/
}

h4 {
    color:black;
}

span.error {
    display: block;
    visibility: hidden;
    color: red;
    font-size: 90%;
    font-weight:bold;
    font-family:Calibri;
}

tr.error {
    background-color: red;
    font-weight: bold;
    font-family: Calibri;
}


span.ItemsError {
    color: red;
    font-weight: bolder;
    font-family: Calibri;
}


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

    input::file-selector-button {
        font-weight: bold;
        color: dodgerblue;
        padding: 0.5em;
        border: thin solid grey;
        border-radius: 3px;
    }

.doc {
    color: goldenrod;
    font-size: 12px;
}



.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height to the desired size of the spinner container */
}

.spinner-grow {
    margin: 0 10px;
}
