<script src="~/customjs/treasury/treasuryreport.js"></script>
<br /><br /><br />

<div class="row" ng-app="App" ng-controller="Ctl" ng-init="GetUnit()">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Interest Amt</h4>
            </div>
            <div class="card-body">

                <form>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Lender Unit :</label>
                                <select class="form-select" ng-model="lenderunitid"
                                        id="lenderunitid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in unitlist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startdate" ng-model="startdate">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="enddate" ng-model="enddate">
                            </div>
                        </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <button style="margin-top:28px;" type="submit" class="btn btn-primary w-md">Submit</button>
                                </div>
                            </div>
                 
                    </div>

                    @* <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" placeholder="Enter City" id="formrow-inputCity">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputState" class="form-label">State</label>
                                <select id="formrow-inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" placeholder="Enter Zip" id="formrow-inputZip">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div> *@
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
</div>
