<script src="~/customjs/treasury/banksettlement.js"></script>
<script src="~/customjs/common.js"></script>


<div ng-app="App" ng-controller="Ctl" ng-init="GetBankInfoByUnit()">

    <div class="row" ng-init="GetUnit()">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Interest Rate Landing</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <button style="margin-top:32px" type="button" class="btn btn-primary btn-sm insert" ng-click="Clear()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="mdi mdi-plus me-1"></i> Create New</button>
                        </div>


                        <div class="col-sm-3">
                            <label>Select Bank</label>
                            <select class="form-select" ng-model="bankid"
                                    id="bankid">
                                <option value="">--Select--</option>
                                <option ng-repeat="list in banklist" value="{{list.id}}">
                                    {{list.name}}
                                </option>
                            </select>
                        </div>


                        <div class="col-sm-3">
                            <label>Select Type</label>
                            <select class="form-select" ng-model="typeid" ng-change="LoadData()"
                                    id="typeid">
                                <option value="">--Select--</option>
                                <option ng-repeat="list in loantypelist" value="{{list.id}}">
                                    {{list.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search.." />
                        </div>

                    </div><br />
                    <div class="row table-responsive">
                        <div ng-if="loading" class="spinner-wrapper">
                        </div>
                        <div class="col-sm-12">
                            <table id="tblinfo" class="table table-responsive" ng-if="!loading">
                                <tr>
                                    <th style="display:none;">ID</th>
                                    <th>Sl No</th>
                                    <th ng-click='sortBy("lenderunit")'>
                                        Lender's Name'
                                        <span ng-show="sortColumn=='lenderunit'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th ng-click='sortBy("borrowerunit")'>
                                        Borrower Unit
                                        <span ng-show="sortColumn=='borrowerunit'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th ng-click='sortBy("startdate")'>
                                        Loan Type
                                        <span ng-show="sortColumn=='startdate'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th ng-click='sortBy("enddate")'>
                                        Loan Amount
                                        <span ng-show="sortColumn=='enddate'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th ng-click='sortBy("enddate")'>
                                        Payment
                                        <span ng-show="sortColumn=='enddate'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>

                                    <th ng-click='sortBy("interestrate")'>
                                        Currency
                                        <span ng-show="sortColumn=='interestrate'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>

                                @*     <th ng-click='sortBy("interestamt")' style="color:rgb(252, 176, 64)">
                                        Issue Date
                                        <span ng-show="sortColumn=='interestamt'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th> *@

                                    <th ng-click='sortBy("details")'>
                                        Payment Date
                                        <span ng-show="sortColumn=='details'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>

                                     <th ng-click='sortBy("details")'>
                                        Rescheduled Date
                                        <span ng-show="sortColumn=='details'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>

                                    <th ng-click='sortBy("details")'>
                                        Loan Number
                                        <span ng-show="sortColumn=='details'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th ng-click='sortBy("details")'>
                                        Narration
                                        <span ng-show="sortColumn=='details'" ng-class="{'fa fa-angle-double-down' : !reverse, 'fa fa-angle-double-up' : reverse}"></span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                                <tr dir-paginate="list in list | orderBy: sortColumn : reverse | filter:search | itemsPerPage:8">

                                    <td style="display:none;">{{list.id}}</td>
                                    <td>{{$index+1}}</td>
                                    <td>{{list.lenderbank}}</td>
                                    <td>{{list.borrowerunit}}</td>
                                    <td>{{list.loantype}}</td>
                                    <td style="background-color:rgb(240, 243, 255)">{{list.amount}}</td>
                                    <td style="background-color:rgb(240, 243, 255)">{{list.payment}}</td>
                                    <td>{{list.currency}}</td>
                                   <td>{{list.paymentdate}}</td>
                                    <td>{{list.rescheduledpaymentdate}}</td> 
                                    <td>{{list.refloannumber}}</td>
                                    <td>{{list.narration}}</td>
                                    <td>
                                        @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewModalFullscreen" ng-click="ViewMaster(list.sanctionno)"><span class="fas fa-search-plus"></span></button> *@
                                        <button type="button" ng-disabled="list.docstatuscode=='COMP' || list.docstatuscode=='APPR' || list.docstatuscode=='REJC'" data-bs-toggle="modal" class="btn btn-warning btn-sm edit" data-bs-target="#EexampleModal" ng-click="Edit(list.id)"><span class="bx bx-edit-alt"></span></button>
                                        <button type="button" ng-disabled="list.docstatuscode=='COMP' || list.docstatuscode=='APPR' || list.docstatuscode=='REJC'" class="btn btn-danger btn-sm delete" ng-click="DeleteMaster(list.id)"><span class="bx bxs-trash-alt"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-6">
                            <dir-pagination-controls max-size="10" style="font-size:16px;"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>

                        </div>
                        <div class="col-sm-2">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:rgb(249, 250, 250);">
                    <h5 class="card-title" id="exampleModalLabel">Settlement (Creation) </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation">

                         <div class="row">
                            <div class="col-sm-12">
                                <label>
                                    Loan Number
                                </label>
                                <input type="text" class="form-control" id="txtLoanNumber" ng-keyup="GetLoanNumber()" />
                                <input type="hidden" class="form-control" id="txtLoanNumberID" />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <label>Lender Name:</label>
                                <select class="form-select" ng-model="lenderbankid" disabled
                                        id="lenderbankid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in banklist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Unit</span>
                            </div>


                            <div class="col-sm-6">
                                <label>Borrower Unit :</label>
                                <select class="form-select" ng-model="borrowerunitid" disabled
                                        id="borrowerunitid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in unitlist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Unit</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <label>Loan Type:</label>
                                <select class="form-select" ng-model="loantypeid" ng-init="GetLoanType()" disabled
                                        id="loantypeid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in loantypelist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Type</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label>
                                    Loan Amount
                                </label>
                                <input type="text" class="form-control" placeholder="Amount..." id="txtLoanAmt" onkeypress="return isNumber(event)" disabled />
                                <span class="error">Amount Required.</span>
                            </div>

                            <div class="col-sm-4">
                                <label>
                                    Currency
                                </label>
                                <select class="form-select" ng-model="currencyid" ng-init="GetCurrency()" disabled
                                        id="currencyid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in currencylist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Currency.</span>
                            </div>

                            <div class="col-sm-4">
                                <label>
                                    Con. Rate
                                </label>
                                <input type="text" class="form-control" placeholder="Amount..." id="txtConrate" onkeypress="return isNumber(event)" />
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-sm-6">
                                <label>
                                    Re-Schedule Date
                                </label>
                                <input type="date" class="form-control" id="txtRescheduledDate" />
                                <span class="error">Issue Date Required.</span>
                            </div>


                            <div class="col-sm-6">
                                <label>
                                    Payment Date
                                </label>
                                <input type="date" class="form-control" id="txtPaymentDate" />
                                <span class="error">Payment Date Required.</span>
                            </div>


                            @* <div class="col-sm-4"> *@
                            @*     <label> *@
                            @*         Interest Rate *@
                            @*     </label> *@
                            @*     <input type="text" class="form-control" id="txtInterestRate"/> *@

                            @*     <span class="error">Interest Rate.</span> *@
                            @* </div> *@

                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label>
                                    Payment Amt.
                                </label>
                                <input type="text" class="form-control" id="txtPaymentAmt" ng-keyup="return isNumber(event)" />

                                <span class="error">Payment Amt Required.</span>
                            </div>
                            <div class="col-sm-8">
                                <label>
                                    Narration
                                </label>
                                <input type="text" class="form-control" id="txtNarration" onkeypress="return isNumber(event)" />
                            </div>
                        </div>


                        @* <div class="row">
                            <div class="col-sm-12">
                                <label>Attachment</label>
                                <input id="fileInput" name="fileInput" class="form-control" type="file" multiple>
                            </div>
                        </div> *@
                    </form>
                </div>
                <div class="modal-footer" style="background-color:rgb(249, 250, 250)">
                    <button type="button" ng-click="Clear()" class="btn btn-warning" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    <button ng-click="Save()" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Submit</button>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="EexampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:rgb(249, 250, 250);">
                    <h5 class="card-title" id="exampleModalLabel">Limit Facility (Edit)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation">
                        <input type="hidden" id="eid" />
                        <div class="row">
                            <div class="col-sm-12">
                                <label>
                                    Loan Number
                                </label>
                                <input type="text" class="form-control" id="etxtLoanNumber" disabled />
                                <input type="hidden" class="form-control" id="etxtLoanNumberID" />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <label>Lender Name:</label>
                                <select class="form-select" ng-model="elenderbankid" disabled 
                                        id="elenderbankid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in banklist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Unit</span>
                            </div>


                            <div class="col-sm-6">
                                <label>Borrower Unit :</label>
                                <select class="form-select" ng-model="eborrowerunitid" disabled
                                        id="eborrowerunitid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in unitlist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Unit</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <label>Loan Type:</label>
                                <select class="form-select" ng-model="eloantypeid" ng-init="GetLoanType()" disabled
                                        id="eloantypeid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in loantypelist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Type</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label>
                                    Loan Amount
                                </label>
                                <input type="text" class="form-control" placeholder="Amount..." id="etxtLoanAmt" onkeypress="return isNumber(event)" disabled />
                                <span class="error">Amount Required.</span>
                            </div>

                            <div class="col-sm-4">
                                <label>
                                    Currency
                                </label>
                                <select class="form-select" ng-model="ecurrencyid" ng-init="GetCurrency()" disabled
                                        id="ecurrencyid">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="list in currencylist" value="{{list.id}}">
                                        {{list.name}}
                                    </option>
                                </select>
                                <span class="error">Select Currency.</span>
                            </div>

                            <div class="col-sm-4">
                                <label>
                                    Con. Rate
                                </label>
                                <input type="text" class="form-control" placeholder="Amount..." id="etxtConrate" onkeypress="return isNumber(event)" />
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-sm-6">
                                <label>
                                    Re-Schedule Date
                                </label>
                                <input type="date" class="form-control" id="etxtRescheduledDate" />
                                <span class="error">Issue Date Required.</span>
                            </div>


                            <div class="col-sm-6">
                                <label>
                                    Payment Date
                                </label>
                                <input type="date" class="form-control" id="etxtPaymentDate" />
                                <span class="error">Payment Date Required.</span>
                            </div>


                            @* <div class="col-sm-4"> *@
                            @*     <label> *@
                            @*         Interest Rate *@
                            @*     </label> *@
                            @*     <input type="text" class="form-control" id="txtInterestRate"/> *@

                            @*     <span class="error">Interest Rate.</span> *@
                            @* </div> *@
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label>
                                    Payment Amt.
                                </label>
                                <input type="text" class="form-control" id="etxtPaymentAmt" ng-keyup="return isNumber(event)" />

                                <span class="error">Interest Rate.</span>
                            </div>
                            <div class="col-sm-8">
                                <label>
                                    Narration
                                </label>
                                <input type="text" class="form-control" id="etxtNarration" onkeypress="return isNumber(event)" />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <label>Attachment</label>
                                <input id="fileInput" name="fileInput" class="form-control" type="file" multiple>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background-color:rgb(249, 250, 250)">
                    <button type="button" ng-click="Clear()" class="btn btn-warning" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    <button ng-click="Update()" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Update</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ViewModalFullscreen" class="modal fade" tabindex="-1" aria-labelledby="ViewModalFullscreen" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myExtraLargeModalLabel">Limit Facility (Attachment)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Attachment</h5>
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width:80px;">Sl No</th>
                                        <th style="width:400px;">File Name</th>
                                        <th style="width:100px;">Action</th>
                                    </tr>
                                    <tbody id="tblData"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning sm" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
