<!doctype html>
<html lang="en" ng-app="myChartApp">
    <head>
    <script src="~/customjs/Dashboard/Dashboard.js"></script>
    <script src="~/customjs/Dashboard/angular.min.js"></script>
    <script src="~/customjs/Dashboard/chart.js"></script>
   
    </head>
<body>
    
      <div ng-controller="ChartController">
        <br /><br /><br /><br />
         <div class="row" ng-init="DashBoard()">
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="font-size-15">Indent Status</h6>
                                            <h4 class="mt-3 pt-1 mb-0 font-size-22"> <span id="identpen"></span> <span class="text-danger fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-down"></i>Pending </span> </h4>
                                        </div>
                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                  <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-chart-1" data-colors='["#e6ecf9"]' class="apex-charts mini-chart-1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">Indent Acknowledged</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"> <span id="indentack"></span><span class="text-success fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-up"></i> Complete </span> </h4>

                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                  <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-chart-2" data-colors='["#e6ecf9"]' class="apex-charts mini-chart-2 "></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">Purchase Order</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"><span id="po"></span> <span class="text-success fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-up"></i> Complete </span> </h4>
                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                  <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-chart-3" data-colors='["#e6ecf9"]' class="apex-charts mini-chart-3"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">LC</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"><span id="lc"></span> <span class="text-success fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-up"></i> Complete </span> </h4>
                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-chart-4" data-colors='["#e6ecf9"]' class="apex-charts   mini-chart-4"></div>
                                </div>
                            </div>
                        </div>

                    </div>

         <div class="row">
                                <div class="col-sm-3">
                                <canvas id="myChart" ng-init="DashBoardGraphBar(2)" width="400" height="400"></canvas>
                                </div>
                                <div class="col-sm-3">
                                 <canvas id="chartPIData" ng-init="DashBoardGraphBar2(4)" width="400" height="200"></canvas>
                                </div>
                                <div class="col-sm-3">
                                     <canvas id="doughnut" width="400" ng-init="DashBoardGraphBar3(5)" height="200"></canvas>
                                </div>
                                <div class="col-sm-3">
                                      <canvas id="myChart2" width="400" ng-init="DashBoardGraphBar4(3)" height="400"></canvas>
                                </div>
                            </div>
         <br />
         <div class="row" ng-init="DashBoard()">
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="font-size-15">Shipment </h6>
                                            <h4 class="mt-3 pt-1 mb-0 font-size-22"> <span id="ship"></span> <span class="text-success fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-up"></i>Complete </span> </h4>
                                        </div>
                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-1" data-colorss='["#e6ecf9"]' class="apex-charts mini-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">LCM</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"><span id="lcm"></span> <span class="text-danger fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-down"></i> Pending </span> </h4>
                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-4" data-colorss='["#e6ecf9"]' class="apex-charts   mini-4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">Fund Requition</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"> <span id="fundreq"></span><span class="text-danger fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-down"></i> Pending </span> </h4>

                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-2" data-colorss='["#e6ecf9"]' class="apex-charts   mini-2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0 font-size-15">Treasury Fund</h6>
                                            <h4 class="mt-3 mb-0 font-size-22"><span id="treasury"></span> <span class="text-danger fw-medium font-size-14 align-middle"> <i class="mdi mdi-arrow-down"></i> Pending </span> </h4>
                                        </div>

                                        <div class="">
                                            <div class="avatar">
                                                <div class="avatar-title rounded bg-soft-primary">
                                                    <i class="bx bx-revision font-size-24 mb-0 text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="mini-3" data-colorss='["#e6ecf9"]' class="apex-charts  mini-3"></div>
                                </div>
                            </div>
                        </div>
       
         </div>

       </div>
   
</body>

</html>